.app .app-header {
  transition: border var(--animation-timer), background var(--animation-timer);
}

.app.dark-theme .app-header { 
  background: var(--dark-theme--bg-color1);
  border-bottom: var(--border-gray);

}

.app.light-theme .app-header { 
  background: var(--light-theme--bg-color1);
  border-bottom: var(--border-gray);

}

.app-header {
    min-height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}